@mixin place($item: null, $content: null) {
  @if $item not null {
    place-items: $item;
  }

  @if $item ==null {
    place-items: center;
  }

  @if $content not null {
    place-content: $content;
  }

  @if $content ==null {
    place-content: center;
  }
}
