.hero {
  display: grid;
  grid-template-columns: 175px 1fr 100px 2fr 100px;
  grid-template-rows: repeat(12, 1fr);
}

.heroHeader {
  grid-column: 2 / 3;
  grid-row: 2 / 9;
}

.heroAction {
  grid-column: 2 / 3;
  grid-row: 9 / 13;
}

.heroCover {
  grid-column: 4 / 5;
  grid-row: 1 / 13;
}
