@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  @apply box-border;
}

html,
body,
#root,
#__next {
  @apply relative;
  @apply w-screen;
  @apply min-h-screen;
  @apply p-0;
  @apply space-x-0;
  @apply space-y-0;
  @apply overflow-auto;
  @apply overflow-x-hidden;
  @apply flex;
  @apply flex-wrap;
  @apply flex-col;
  @apply place-items-center;
  @apply place-content-center;
  @apply bg-white;
  @apply text-black;
}

/* fix the `next/image` component styling */
.next-image > span {
  position: initial !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 4;
}

.next-image.cover::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 160px;
  height: 190px;
  top: 40px;
  right: 135px;
  z-index: 2;
}

.next-image.cover--1::before {
  background-color: theme(colors.img.square-1);
}

.next-image.cover--2::before {
  background-color: theme(colors.img.square-2);
}

.next-image.cover::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 90px;
  height: 90px;
  bottom: 130px;
  left: 220px;
  z-index: 3;
  border-radius: 90rem;
  background-color: theme(colors.img.circle);
}
